*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.cont{
    width: 100%;
    height: 100vh;
    background: linear-gradient(35deg, #c75c5c, #270707);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.to-do{
    background-color: #b0393947;
    width: 400px;
    text-align: center;
    margin-top: 5rem;
    padding: 1.5rem;
    border-radius: 1.5rem;
    color: white;
}
#taskInput{
    margin: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    width: 70%;
}
#add {
    padding: .5rem;
    border-radius: .5rem;
    border: none;
}


.list{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}


.list input[type="checkbox"]{
    cursor: pointer;
}

.task-text{
    font-size: 1rem;
}
.del{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}

.list input:checked + .task-text{
    text-decoration: line-through;
    opacity: 0.6;
}
