*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(53, 172, 140);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    width: 400px;
    background: white;
    margin: 2rem;
    padding: 1.5rem;
    border-radius: .5rem;
}
h2{
    text-align: center;
    color: green;
    margin-bottom: 1.5rem;
}
p{
    font-size: 1.2rem;
    color: black;
    margin-bottom: .5rem;

}
input{
    font-size: 1rem;
    width: 100%;
    height: 2rem;
    padding: .5rem;
    margin-bottom: 1rem;
}
button{
    margin-top: 1.5rem;
    width: 100%;
    background-color: rgb(53, 172, 140);
    color: white;
    font-size: 1.2rem;
    border: none;
    padding: .5rem;
}
#gender{
    width: 100%;
    padding: .5rem;
}
 
.pass-box{
    position: relative;
}

.pass-box input{
    width: 100%;
    padding-right: 35px;
}

.pass-box span{
    position: absolute;
    right: 8px;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
} 
