body{
    background: #76aca5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.calculator{
    width: 320px;
    background: white;
    padding: 20px;
    border-radius: 2rem;
}

#display{
    border-radius: .5rem;
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: right;
}

.btns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

button{
    border-radius: 2rem;
    border: none;
    font-size: 1.5rem;
    padding: 15px;
    cursor: pointer;
}
button:last-child{
    background: orange;
    color: white;
}