*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(145, 210, 210);
}

.cal{
    width: 400px;
    height: 660px;
    background: white;
    border-radius: 2rem;
}
/* upper  */
.up-cal{
    width: 100%;
    height: 66px;  /*264px*/
    display: flex;
}

.mode{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    width: 5rem;
    height: 2rem;
    background: #65ccef;
    border-radius: 2rem;
    margin-left: 10rem;
}

#li-mode{
    width: 60%;
    height: 100%;
    border-radius: 1rem;
    background: #c1e6f3;
    display: flex;
    justify-content: center;
    align-items: center;

}

#his{
    font-size: 1.2rem;
    margin-top: 1.9rem;
    margin-left: 7rem;
}



/* down */
.down-cal{
    width: 100%;
    height: 396px;
    background: linear-gradient(-55deg, #c1e6f3 , #65ccef);
    border-radius:0rem 1rem 2rem 2rem;
    text-align: center;
    
}

button{
    font-size: 1.5rem;
    margin: .4rem .6rem;
    width: 4.4rem;
    height: 4rem;
    border-radius: 1.5rem;
    border: none;
}

.calculate{
    color: rgb(219, 109, 36);
}
#equal{
    background: rgb(248, 127, 6);
    color: white;
}


/* ===== DARK MODE ===== */

body.dark .container{
    background: rgb(145, 210, 210);
}

body.dark .cal{
    background: #0f172a;
    color: #fff;
}

body.dark .mode{
    background: #334155;
}

body.dark #li-mode{
    background: transparent;
}

body.dark #dark-mode{
    width: 60%;
    height: 100%;
    border-radius: 1rem;
    background: #65ccef;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.dark .down-cal{
    background: linear-gradient(55deg, #c1e6f3, #0f172a);
}

body.dark button{
    background: #242d42;
    color: #fff;
}
body.dark .calculate{
    color: rgb(219, 109, 36);
}


.screen{
    width: 100%;
    height: 198px;
    padding: 1rem;
    /* background: #e5f3f6; */
}

#expression{
    font-size: 1.5rem;
    color: orange;
    text-align: right;
}

#result{
    font-size: 2rem;
    font-weight: bold;
    text-align: right;
}
