*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial;
}

body{
    height:100vh;
    background: linear-gradient(to right, #43cea2, #185a9d);
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    background:white;
    width:320px;
    padding:20px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.25);
}

.search{
    display:flex;
    gap:8px;
    margin:10px 0;
}

input{
    flex:1;
    padding:8px;
    border-radius:8px;
    border:1px solid #ccc;
}

button{
    padding:8px 12px;
    border:none;
    background:#43cea2;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

.loc-btn{
    width:100%;
    margin-bottom:10px;
}

#error{
    color:red;
    font-size:14px;
}

.weather{
    margin-top:15px;
}

h1{
    font-size:42px;
}

.details{
    margin-top:10px;
    font-size:14px;
}
