*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    background: linear-gradient(
        135deg,
        rgb(139, 57, 194) 0%,     
        rgb(143, 101, 171) 30%,
        rgb(66, 130, 179) 60%, 
        rgb(12, 112, 194) 100% 
    );
}

.content{
    width: 24rem;
    height: 24rem;
    border-radius: 1.5rem;
    background: white;
    text-align: center;
}
h1{
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.count{
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
.btn1{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

#incr{
    background: green;
    color: white;
    font-size: 1.5rem;
    padding: 8px 20px;
    margin-right: 1rem;
    border-radius: .5rem;
    border: none;
    box-shadow: 0 6px 15px rgba(0, 255, 0, 0.5);

}
#decr{
    background: red;
    color: white;
    font-size: 1.5rem;
    padding: 8px 20px;
    border-radius: .5rem;
    border: none;
    box-shadow: 0 6px 16px rgba(255, 0, 0, 0.5);

}
#res{
    background: orange;
    color: white;
    font-size: 1.5rem;
    padding: 8px 28px;
    border-radius: .5rem;
    border: none;
    box-shadow: 0 6px 16px rgba(218, 105, 7, 0.9);
}


/* media query */
@media screen and (max-width: 500px){

    .content{
    width: 18rem;
    height: 18rem;
    border-radius: 1.5rem;
    background: white;
    text-align: center;
}
h1{
    font-size: 2.2rem;
    margin-top: 1.7rem;
    margin-bottom: 1.2rem;
}
.count{
    font-size: 2.9rem;
    margin-bottom: 1rem;
}
.btn1{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

#incr{
    background: green;
    color: white;
    font-size: 1rem;
    padding: 8px 20px;
    margin-right: 1rem;
    border-radius: .5rem;
    border: none;
    box-shadow: 0 6px 15px rgba(0, 255, 0, 0.5);

}
#decr{
    background: red;
    color: white;
    font-size: 1rem;
    padding: 8px 20px;
    border-radius: .5rem;
    border: none;
    box-shadow: 0 6px 16px rgba(255, 0, 0, 0.5);

}
#res{
    background: orange;
    color: white;
    font-size: 1rem;
    padding: 8px 28px;
    border-radius: .5rem;
    border: none;
    box-shadow: 0 6px 16px rgba(218, 105, 7, 0.9);
}
}
